.wrapper {
    --header-border: 92px;
    --search-header-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--default-header-height);
    box-shadow: 0 1px 1px rgba(0 0 0/ 12%);
}
.inner {
    height: 100%;
    width: var(--default-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo-link {
    cursor: pointer;
    display: flex;
}

//Action
.action {
    display: flex;
    align-items: center;
    .usercurrent-icon {
        background-color: transparent;
        display: flex;
        color: rgba(22, 24, 35, 1);
        padding: 4px 16px;
        font-size: 2rem;
        position: relative;
        cursor: pointer;
    }

    .avatar-current {
        height: 32px;
        width: 32px;
        border-radius: 99px;
        object-fit: cover;
        cursor: pointer;
        margin-left: 16px;
    }
}
.action .usercurrent-icon-upload {
    padding: 5px 16px;
    color: var(--black);
    background-color: transparent;
    // min-width: 110px;
    border: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-color: rgba(22, 24, 35, 0.12);
    }

    .icon-upload {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }
    & span {
        font-size: 1.6rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
    }
}

.inbox-icon {
    position: relative;
}

.custom-button {
    color: rgba(22, 24, 35, 0.75);
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: var(--white);
    padding: 4px 8px;
    cursor: pointer;
}
