.total-inbox {
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    left: 33px;
    background-color: var(--primary-color);
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: -5%;
    padding: 0px 5px;
}
.search-icon {
    display: flex;
}
